<section>
  <h1>Crear nueva tarea</h1>
  <form action="">
    
    <label>Nombre de la tarea</label>
    <input type="text" />

    <label>Fecha límite</label>
    <input type="date" />

    <h3>Personas Asociadas</h3>

    <label>Nombre completo</label>
    <input type="text" />

    <label>Edad</label>
    <input type="number" />

    <h4>Habilidades</h4>

    <div class="container_skills">
      <input type="text" />

      <ion-icon name="add-outline" class="icon_skills"></ion-icon>

      <ion-icon name="trash-outline" class="icon_skills"></ion-icon>
    </div>
  </form>
</section>
