/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #34495e;
  --secondary-color: #95a5a6;
  --placeholder-color: #c1c1c1;
  --neutral-color: #ffffff;
  --font-name: "Poppins", sans-serif;
  --size-title: 25px;
  --size-title-body: 20px;
  --size-subtitle: 17px;
  --size-content: 16px;
}

html {
  margin: 0px;
  padding: 0px;
  font-size: var(--size-content);
}

body,
button,
input,
p {
  font-family: var(--font-name);
  font-size: var(--size-content);
  margin: 0;
  color: var(--primary-color);
}

h1 {
  margin: 0;
  padding: 0;
}

/* Scroll */

/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  border: 3px solid transparent;
  border-radius: 100px;
  background-color: var(--secondary-color);
  background-clip: content-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border: 3px solid transparent;
  border-radius: 100px;
  background-color: var(--primary-color);
}

/* icons */
ion-icon {
  color: var(--primary-color);
  cursor: pointer;
}

ion-icon:active {
  opacity: 0.5;
}

// Inputs

label {
  color: var(--secondary-color);
  font-weight: 300;
}

input {
  display: flex;
  align-items: center;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  padding: 7px 15px;
  color: var(--primary-color);
  outline-color: var(--secondary-color);
  box-sizing: border-box;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  border: 1px solid var(--primary-color);
  color: var(--secondary-color);
  padding: 7px 15px;
  border-radius: 5px;
  background-color: var(--primary-color);

  &:active {
    opacity: 0.5;
  }
}

.container_disabled {
  pointer-events: none;
  opacity: 0.5;
}

input[type="checkbox"] {
  accent-color: var(--primary-color);
  min-width: 20px;
  height: 20px;
  cursor: pointer;
}
